html {
  --surface-color-ground: 40 41 62;
  --surface-color-section: 53 54 82;
  --surface-color-card: 40 41 62;
  --surface-color-overlay: 30 30 30;
  --surface-color-border: 75 75 94;
  --surface-color-hover: 31 31 46;
  --surface-color-text: 255 255 255;

  &.light {
    --surface-color-ground: 248 249 250;
    --surface-color-section: 255 255 255;
    --surface-color-card: 255 255 255;
    --surface-color-overlay: 255 255 255;
    --surface-color-border: 222 226 230;
    --surface-color-hover: 233 236 239;
    --surface-color-text: 73 80 87;
  }

  --primary-color: #ba68c8;
  --secondary-color: #b052c0;
}

body {
  height: 100%;
  font-family: Montserrat, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: rgb(var(--surface-color-ground)) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: rgb(var(--surface-color-text) / 0.8);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rowdies", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 120%;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.pixelated {
  image-rendering: pixelated;
}

.p-component {
  font-family: Montserrat, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;

  &.p-button {
    font-family: Rowdies, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    border-radius: 8px !important;
    padding: 0.6rem 1rem;
    font-weight: bold;

    &.p-button-mod {
      background: var(--primary-color) !important;
      border-color: var(--primary-color) !important;

      @extend .grower;
    }

    &.p-button-mod-outlined {
      background: transparent !important;
      color: rgb(var(--surface-color-text)) !important;
      border-color: var(--primary-color) !important;
      border-width: 2px;

      @extend .grower;
    }
  }
}

.p-card {
  background-image: linear-gradient(
    270deg,
    var(--secondary-color) -12.17%,
    var(--primary-color) 114.78%
  ) !important;
  color: rgb(var(--surface-color-text)) !important;
  border-radius: 8px !important;
  padding: 2px;

  &.gradient .p-card-body {
    background: rgb(var(--surface-color-card) / 0.9);
  }

  .p-card-body {
    width: 100%;
    height: 100%;
    background: rgb(var(--surface-color-card));
    border-radius: 8px;
    position: relative;

    .p-card-content {
      padding: 0 !important;
    }

    &.p-card-glass {
      background: rgba(black, 0.25);
    }
  }
}

.p-carousel {
  .p-carousel-indicators {
    button {
      background: rgb(var(--surface-color-border)) !important;
    }

    .p-highlight {
      button {
        background: var(--primary-color) !important;
      }
    }
  }
}

.p-datatable {
  .p-datatable-thead > tr > th {
    padding: 0 0 1rem 0 !important;
    background: transparent !important;
    border-color: transparent !important;
    color: theme("colors.surface.text") !important;

    &.right {
      .p-column-header-content {
        justify-content: flex-end;
      }
    }
  }

  .p-datatable-tbody > tr {
    background: transparent !important;
    color: theme("colors.surface.text") !important;

    & > td {
      padding: 0.5rem 0 !important;
      border-color: theme("colors.surface.border") !important;
    }
  }

  .p-paginator {
    background: transparent;
    border: none;
    border-bottom: 1px solid theme("colors.surface.border");

    .p-paginator-element,
    .p-paginator-current {
      color: theme("colors.surface.text") !important;
    }

    .p-paginator-element {
      &.p-highlight {
        background-color: rgb(var(--surface-color-text) / 0.15) !important;
      }

      &:hover {
        background-color: rgb(var(--surface-color-text) / 0.1) !important;
      }
    }
  }

  .p-paginator-bottom {
    border: none !important;
  }
}

.p-divider.p-divider-horizontal:before {
  border-color: theme("colors.surface.border") !important;
}

.p-dropdown,
.p-dropdown-items {
  background: theme("colors.surface.hover") !important;
  border-color: theme("colors.surface.border") !important;

  .p-dropdown-label,
  .p-dropdown-trigger,
  .p-dropdown-item {
    color: theme("colors.surface.text") !important;
  }
}

.p-message {
  border-radius: 8px;
  border-width: 1px 1px 1px 6px !important;

  .p-message-wrapper,
  .p-message-text {
    width: 100%;
  }

  &-info {
    background: rgb(var(--surface-color-card)) !important;
    border-color: rgb(var(--surface-color-border)) !important;
    color: theme("colors.surface.text") !important;
  }
}

.p-sidebar {
  background: theme("colors.surface.card") !important;
  color: theme("colors.surface.text") !important;
  border-color: theme("colors.surface.border") !important;

  .p-sidebar-close {
    color: theme("colors.surface.text") !important;
  }
}

.p-tooltip {
  .p-tooltip-text {
    background: theme("colors.surface.hover") !important;
  }

  .p-tooltip-arrow {
    border-top-color: theme("colors.surface.hover") !important;
  }
}

.grower {
  transition-duration: 300ms;

  &:hover {
    z-index: 10;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@keyframes background-pan {
  from {
    background-position: 0 center;
  }

  to {
    background-position: 200% center;
  }
}

@keyframes item-hover {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}
