.nuxt-content {
  margin-bottom: -16px;
  padding: 16px 0;
  line-height: 1.5;

  & > * {
    margin-bottom: 16px;
  }

  & > h2:first-child,
  & > h3:first-child {
    margin-top: 0;
  }

  a {
    color: theme("colors.primary.500");
    font-weight: bold;

    &:hover {
      opacity: 0.95;
    }
  }

  h2,
  h3,
  h4 {
    @apply mt-6 pb-1 scroll-mt-52;

    a {
      color: theme("colors.surface.text");
      scroll-margin-top: 144px;

      &:hover {
        color: theme("colors.surface.text");

        &::before {
          content: "#";
          padding-right: 8px;
        }
      }
    }
  }

  ul {
    list-style: disc;
    padding: 0 0 0 24px;
  }

  strong {
    @apply font-bold;
  }

  pre {
    @apply p-4 bg-gray-200 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded overflow-hidden hover:overflow-auto;
  }

  p code,
  li code {
    padding: 1px 5px;
    border-radius: 4px;
    line-height: 1;
    @apply bg-gray-200 dark:bg-gray-800 border border-gray-300 dark:border-gray-700;
  }

  @screen lg {
    @apply pl-4;
  }

  @screen xl {
    @apply pr-4;
  }

  @media screen and (max-width: 450px) {
    font-size: 80%;
  }
}
