@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-mod: var(--primary-color);
}

@utility container {
  margin: auto;
  padding: 1rem;
}

body {
  height: 100%;
  font-family:
    Montserrat,
    "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    @apply text-gray-700/80 dark:text-gray-300/80;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family:
    Rowdies,
    "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 200;
}

h1 {
  font-size: 40px;
  line-height: 120%;

  @variant sm {
    font-size: 56px;
  }
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

strong {
  @apply font-bold;
}

.pixelated {
  image-rendering: pixelated;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

html {
  ::-webkit-scrollbar {
    background-color: transparent;
    height: 0.6em;
    width: 0.6em;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(var(--color-gray-100));
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-gray-300));
    border-radius: 0.6em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--color-gray-400));
  }

  &.dark {
    ::-webkit-scrollbar-track {
      background-color: rgb(var(--color-gray-800));
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgb(var(--color-gray-700));
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: rgb(var(--color-gray-600));
    }
  }
}
