name: Deploy API

on:
  push:
    branches: [ main ]
    paths:
      - packages/db/**
      - apps/api/**
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          file: apps/api/Dockerfile
          tags: |
            ghcr.io/blakesmods/api:latest
            ghcr.io/blakesmods/api:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    name: Deploy
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.INFRASTRUCTURE_PAT }}
          repository: blakesmods/infrastructure
          event-type: deploy-api
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
